
<!--<marquee><img src="image.gif" /></marquee>-->

<div  style="clear:both;text-align:center;">
  <strong>Welcome to Creative Photo Sharing</strong></div>




<h3>New User</h3>
<p><%= link_to 'Sign up', new_user_path %></p><br>
<p><%= link_to 'Sign in', new_session_path %></p>
</body>




