
<!--<marquee><img src="image.gif" /></marquee>-->

<div  style="clear:both;text-align:center;">
  <h2>Welcome to Creative Photo Sharing</h2></div>



<div class="sign_form">
<h3>New User</h3>
<p><%= link_to 'Sign up for Free', new_user_path,:class=>"button_example" %></p><br>

</div>
<p>
  <h3><b><font color=#ff1493>Spectacular</font></b></h3><br>

  <font color=#db7093>Share in full resolution.</font><br>

<font color=#db7093>All of your photos in their original quality, beautifully displayed. </font>
<div class=button_example>Smile.</div>
</p>




